body {
    width: 75%;
    margin: auto;
}

.container{
    width: 100%;
}
.row {
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 8.33%;
}

/*-- our cleafix hack -- */ 
.row:before, 
.row:after {
    content:"";
    display: table ;
    clear:both;
}

@media only screen and (min-width: 769px){
    .col-1{ width: 8.33%; }
    .col-2{ width: 16.66%; }
    .col-3{ width: 25%;    }
    .col-4{ width: 33.33%; }
    .col-5{ width: 41.66%; }
    .col-6{ width: 50%;   }
    .col-7{ width: 58.33%; }
    .col-8{ width: 66.66%; }
    .col-9{ width: 75%;    }
    .col-10{ width: 83.33%; }
    .col-11{ width: 91.66%; }
    .col-12{ width: 100%;   }
}

@media only screen and (max-width: 768px){
    [class*='col-'] {
        width: 100%;
    }
    
    #app_logo {
        position: absolute;
        top: 0;
        z-index: -1;
    }
    
    #app_name {
        position: relative;
        left: 80px;
    }
}

footer {
    text-align: center;
    padding: 15px;
}

article p{
    text-align: justify;
    text-indent: 50px;
}

.mynav {
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 10px;
    margin: 5px;
}

.menu {
    text-align: right;
}
